*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: 'Nunito Sans', 'Roboto', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 1.786;
  color: #8a8a8a;
  letter-spacing: 0.025em; /* 25*0.001em */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-family: 'Bebas Neue', sans-serif;
  line-height: 1.1;
  color: #686868;
  font-weight: 400;
  margin: 0 0 1rem;
}

h1 {
  font-size: 60px;
  letter-spacing: 0;
  color: #444342;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

p {
  margin: 0 0 2rem;
}

.page-wrapper {
  max-width: 100%;
  position: relative;
  overflow: hidden;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.banner {
  min-height: 30vh;
  padding: 50px 0;
  background-size: cover;
  margin-bottom: 2rem;
}

.post {
  width: 70%;
}

.post-info {
  font-size: 0.858rem;
  color: #bfbfbf;
  margin-bottom: 1.5em;
}

.post-info p {
  margin: 0;
}

.post-date {
  text-transform: uppercase;
}

.post-author {
  text-decoration: none;
  color: #868686;
}

.text-block {
  width: 81%;
}