* {
  box-sizing: border-box;
}

html {
  font-family: 'Dosis', sans-serif;
  color: #6d6d6d;
  font-size: 18px;
  line-height: 1.334;
  font-weight: 500;
}

h1,
h2,
h3 {
  color: #7ea2b3;
  font-family: 'Bebas', sans-serif;
  line-height: 1.25;
  margin: 0 0 .75em;
}

h1 {
  font-size: 40px;
  letter-spacing: 0.025em;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-size: 24px;
}

img {
  max-width: 100%;
  display: inline-block;
  vertical-align: top;
}

.btn {
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  padding: 12px 30px;
  border-radius: 9em;
  background-color: #97b621;
}

.page-wrapper {
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.post {
  display: flex;
  margin-bottom: 80px;
}

.post:nth-child(2n) {
  flex-direction: row-reverse;
}

.post img {
  width: 50%;
  align-self: flex-start;
}

.post-text {
  width: calc(50% + 80px);
  background-color: #f6fcff;
  box-shadow: 0 1px 30px rgba(146, 162, 179, .42);
  padding: 60px 80px 40px;
  transform: translate(-80px, 40px);
  flex-shrink: 0;
  text-align: left;
}

.post:nth-child(2n) .post-text {
  transform: translate(80px, 40px);
}



.video-link-wrapper {
  text-align: center;
}

.video-link {
  display: inline-block;
  vertical-align: top;
  padding: 12px 30px;
  border: 2px solid #97b621;
  border-radius: 9em;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  color: #97b621;
  transition: 0.3s;
}

.video-link:before {
  content: "\0000a0";
  font-size: 16px;
  display: inline-block;
  border-top: 10px solid transparent;
  border-left: 10px solid #97b621;
  border-bottom: 10px solid transparent;
  line-height: 0;
  margin: 0 10px 0px 0px;
  transition: 0.3s;
}

.video-link:hover {
  color: #fff;
  background-color: #97b621;
}

.video-link:hover:before {
  border-left: 10px solid #fff;
}

.section {
  padding: 40px 0;
}

.staff-picks h2 {
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.025em;
  text-align: center;
  text-transform: uppercase;
}

.staff-picks {
  background-color: #F7F9EE;
}

.staff-pics-article-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.staff-pics-article {
  width: 25%;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img1 {
  width: 262px;
  height: 262px;
  max-width: 100%;
  background-image: url("../images/grid-image-5.jpg");
  background-position: center;
  margin: 0 auto;
  margin-bottom: 30px;
  position: relative;
}

.img2 {
  background-image: url("../images/grid-image-4.jpg");
}

.img3 {
  background-image: url("../images/grid-image-6.jpg");
}

.img4 {
  background-image: url("../images/grid-image-7.jpg");
}


.img1 span {
  display: block;
  position: absolute;
  top: 100px;
  left: calc(50% - 24px);
  font-size: 30px;
  color: rgba(0, 0, 0, 0.5);
  background-color: #97b621;
  padding: 10px 15px;
  visibility: hidden;
  border-radius: 10%;
}

.img1:hover span {
  visibility: hidden;
}

.img1 p {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 26px;
  text-align: center;
  background-color: rgba(21, 51, 68, 0);
  color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
  font-size: 18px;
  line-height: 1.945;
}

.img1 p:hover {
  background-color: rgba(21, 51, 68, 0.6);
  color: white;
}

.staff-pics-article-header {
  line-height: 1.25;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
  flex-grow: 1;
}

.staff-picks-link {
  text-decoration: none;
  border-radius: 9em;
  background-color: #97b621;
  line-height: 1.6923;
  font-size: 13px;
  font-weight: 700;
  padding: 12px 50px;
  max-width: 80%;
  margin: 0 auto;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  box-shadow: 0px 10px 70px -5px rgba(0, 0, 0, 0.4);
  transition: .5s ease;
  cursor: pointer;
}

.staff-picks-link:hover {

  background-color: rgb(188, 224, 42);
  padding: 12px 30px;
  color: #fff;
  box-shadow: 0px 0px 0px 0px rgba(188, 224, 42, 0.4);
}

@media (max-width: 960px) {
  .staff-pics-article {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .post {
    display: block;
  }

  .post img {
    width: 75%;
  }

  .post-text {
    width: 75%;
    transform: none;
    margin-left: auto;
    margin-top: -40px;
    position: relative;
  }

  .post:nth-child(2n) {
    text-align: right;
  }

  .post:nth-child(2n) .post-text {
    transform: none;
    margin-left: 0;
  }

  .img1 span {
    visibility: visible;
  }
}

  @media (max-width: 600px) {
    h2 {
      font-size: 20px;
    }

    .post img {
      width: calc(100% + 30px);
      max-width: calc(100% + 30px);
      margin-left: -15px;
      margin-right: -15px;
    }

    .post-text {
      width: 95%;
      padding-left: 40px;
      padding-right: 40px;
      margin-right: -15px;
    }

    .post:nth-child(2n) .post-text {
      margin-right: 0;
      margin-left: -15px;
    }
  }

  @media (max-width: 479px) {
    .staff-pics-article {
      width: 100%;
    }
  }