blockquote {
    color: green;
}

a[href^='http'] {
    color: red;
}

.holder>ul:first-of-type>li:last-child a {
    background-color: green;
}

ul+p {
    font-size: 26px;
}

.text-box h3:first-child {
    color: pink;
}

#greycol {
    color: grey;
}

.text-box div p {
    color: red;
}

.text-box *:nth-last-child(2) {
    color: green;
}

.yellow {
    color: yellow;
}

.bg-box {
    width: 500px;
    height: 283px;
    background-color: green;
    background-image: 
        url("https://www.freeiconspng.com/uploads/grass-png-images-pictures-transparent-28.png"),
        url("https://img2.goodfon.ru/wallpaper/big/0/5b/pole-zelen-trava-dom-derevya.jpg"),
        url("https://www.freeiconspng.com/uploads/lamp-png-0.png"),
        url("https://vignette.wikia.nocookie.net/mashaandthebear/images/e/e0/%D0%81%D0%B6%D0%B8%D0%BA.png/revision/latest?cb=20180209130328&path-prefix=ru"),
        url("images/1.png");
    background-size: 22% auto, 70% 70%, 4% auto, auto 4%, auto 5%;
    background-position: left bottom, center center, left top, left top, right top;
    background-repeat: repeat-x, no-repeat, repeat-x, repeat-y, repeat-y;
}