*,
*:before,
*:after {
    box-sizing: border-box;
}

.element {
    width: 350px;
    height: 220px;
    padding: 15px 10px 20px;
    margin-bottom: 30px;
    border: dashed 2px red;
    background-color: green;
}

.level-3 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    font-size: .95em;
    line-height: 1.6em;
    font-weight: 500;
    text-align: justify;
    font-family: Georgia, serif;
    width: 615px;
    height: 393px;
}

.float-left {
    float: left;
    width: 200px;
    height: auto;
    margin: 0 30px 30px 0;
}

.float-right {
    float: right;
    width: 150px;
    height: auto;
    margin: 30px 0px 30px 30px;
}

.clearfix:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}